<?xml version="1.0" encoding="UTF-8" ?>

	<widget xmlns ="http://www.w3.org/ns/widwets"
		xmlns:gap ="http//phonegap.com/ns/1.0"
		id        ="com.phonegap.uptap"
		versionCode  ="10"
		version ="1.0.0">

<name>Uptapachula</name>
		
		
		<platform name="android">
			      <icon src="res/android/ldpi.png" density="ldpi" />
			      <icon src="res/android/mdpi.png" density="mdpi" />
			      <icon src="res/android/hdpi.png" density="hdpi" />
			      <icon src="res/android/xhdpi.png" density="xhdpi" />
                </platform>

</widget>
